[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "2.7"
music21 = "*"
keras = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
process-midis = "python src/midi_processor.py MIDI_examples melodies"
train = "python src/train_network.py melodies"
