[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "2.7"
mido = "1.2.9"
music21 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python src/midi_processor.py MIDI_examples melodies"
